.navbar-container {
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 5px 5px 20px rgba(202, 202, 202, 0.411);

  img {
    height: 45px;
  }
}

.navbar-links {
  a {
    cursor: pointer;
    text-decoration: none;
    color: $green;
    margin-left: 35px;
  }
}
