.navbar-container {
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 5px 5px 20px rgba(202, 202, 202, 0.411);
  @media screen and (max-width: 375px) {
    padding: 0 10px;
  }
  @media screen and (max-width: 620px) {
    justify-content: center;
  }
  img {
    height: 45px;
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
}

.navbar-links {
  @media screen and (max-width: 620px) {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: $green;
    margin-left: 35px;
    outline: none;
    @media screen and (max-width: 620px) {
      margin: 0;
    }
    @media screen and (max-width: 500px) {
      font-size: 0.8rem;
    }
  }
}
