* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(245, 245, 245);
}

$green: #00b183;
$darkgreen: #038b67;
$gray: #d3d3d3;
$black: rgb(42, 42, 42);

@import "password";
@import "navbar";
@import "dashboard";
@import "reservations";
